{% extends "layout.html" %}
{% block content %}
    <div class="content-section"><h1>HAMDARDI 💖</h1>
    <br><h3>Somewhere along the way, we must learn that there is nothing greater than to do something for others.<br><h5>~Martin Luther King Jr.</h5></h3><br>
        <p>There are times when volunteers around the world
             face difficulties to find and connect the people in
              need with the relevant NGO’s. Same goes for the NGO’s who look for
              needful people and volunteers to work with. There should be a system
               which would ensure that it is easy and time saving for both the parties 
               to find and work with each other.</p><br>
        <p>This project aims at solving this problem by providing an online 
            portal that connects NGOs with volunteers. Different NGOs can register 
            on the portal and post request for volunteers. General people can register 
            on the portal as volunteers and be able to see all the requests/opportunities
             of volunteering for different NGOs thereby helping in smooth conduct of the services.</p>
    </div>
{% endblock content %}